.landingPageScrolElements{
    height: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

.landingPageScrolElement{
    height: 40px;
    background-color: $color-main;
    margin: 10px 10px 0 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius;
    color: $button-text-color;
    text-decoration: none;
    flex-wrap: wrap;
    &:hover{
        box-shadow: inset 0px 0px 18px 11px rgba(209,182,225,1);
    }
}

@media (max-width: 1024px){
    .landingPageScrolElements{
        height: 100%;
        flex-grow: 0;
    }

    .landingPageScrolElement{
        width: 200px;
        flex-grow: 0;
    }
}