.landingPageScrolCount{
    height: 80px;
    justify-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: $text-color;
}

@media (max-width: 1024px){
    .landingPageScrolCount{
        display: none;
    }
}