.newQuizButtons{
    height: 100px;
    display: flex;
}

.quizButton{
    height: 100%;
    flex-grow: 1;
    width: 33%;
    margin: 20px 10px;
    word-wrap: break-word;
}

@media (min-width: 1024px){
    .quizButton{
        margin: 5px;
    }
}


@media (min-width: 1024px){
    .newQuizButtons{
        flex-direction: column;
        margin: 20px 10px 0 0;
        width: 200px;
        height: 200px;
    }
}