.landingPageButtons{
    position: absolute;
    left: 50%;
    transform: translate(-50%,50%);
    top: 40%;
    .newQuiz{
        width: 200px;
        height: 60px;
        background-color: $color-main;
        border: none;
        border-radius: $border-radius;
        flex-wrap: wrap;
        font-size: $button-font-size;
        color: $button-text-color;
        &:hover{
            box-shadow: inset 0px 0px 18px 11px rgba(209,182,225,1);
        }
    }
}