.newQuizScrolTitle {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $scrol-font-size;
  color: $text-color;
}

@media (max-width: 1024px) {
  .newQuizScrolTitle {
    display: none;
  }
}
