.takeQuizQuestion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .takeQuizQuestionContent{
        width: 200px;
        height: 100px;
        font-size: 30px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $text-color;
    }
    .takeQuizAnswers{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .takeQuizAnswer{
            width: 200px;
            height: 40px;
            margin-bottom: 30px;
            border: none;
            background: $color-main;
            border-radius: $border-radius;
            flex-wrap: wrap;
            font-size: $button-font-size;
            color: $button-text-color;
            &:hover{
                box-shadow: inset 0px 0px 18px 11px rgba(209,182,225,1);
            }
        }
    }
}

@media (min-width: 768px){
    .takeQuizQuestion{
        .takeQuizQuestionContent{
            width: 300px;
            height: 100px;
        }
        .takeQuizAnswers{
            .takeQuizAnswer{
                height: 50px;
                width: 300px;
            }
        }
    }
}

@media (min-width: 1024px){
    .takeQuizQuestion{
        margin-top: 50px;
    }
}