*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-main;
  font-weight: 700;
}

.App{
  background-color: $bg-color;
  height: 100vh;
  display: flex;
  justify-content: center;
}