.firstPageContent{
    background-color: springgreen;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 1024px){
    .firstPageContent{
        height: calc(100vh - 110px);
    }
}