.firstPageButtons{
    position: absolute;
    left: 50%;
    transform: translate(-50%,50%);
    top: 40%;
    .newQuiz{
        width: 200px;
        height: 40px;
        background-color: $color-secondary;
        border: 1px solid $border-color;
        border-radius: 5px;
        flex-wrap: wrap;
        font-size: $button-font-size;
        &:hover{
            color: blue;
            box-shadow: inset 0px 0px 48px 11px rgba(209,182,225,1);
        }
    }
}