.firstPageScrolTitle{
    height: 80px;
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid $border-color;
}

@media (max-width: 1024px){
    .firstPageScrolTitle{
        display: none;
    }
}