.buttonsBar{
    height: 100px;
    background-color: royalblue;
    display: flex;
}

@media (min-width: 1024px){
    .buttonsBar{
        flex-direction: column;
        margin: 20px 10px 0 0;
        width: 200px;
        height: 200px;
    }
}