.newQuizButtons{
    height: 100px;
    background-color: royalblue;
    display: flex;
}

.quizButton{
    height: 100%;
    flex-grow: 1;
    background-color: saddlebrown;
    border: 1px solid springgreen;
}

@media (min-width: 1024px){
    .quizButton{
        margin: 5px;
    }
}


@media (min-width: 1024px){
    .newQuizButtons{
        flex-direction: column;
        margin: 20px 10px 0 0;
        width: 200px;
        height: 200px;
    }
}