$color-primary: #9dc8c8;
$color-secondary: #58c9b9;
$color-dark-secondary: #519d9e;
$color-shadow: #d1b6e1;
$bg-color: rgb(131, 128, 128);
$border-color: black;
$font-main: "Chilanka";
$button-font-size: 16px;
$scrol-font-size: 20px;
