
$color-shadow: #d1b6e1;
$color-main: #ff0033;
$text-color:#333;
$button-text-color: #fff;
$border-color: #444;
$border-radius: 8px;
$font-main: "Open Sans";
$button-font-size: 16px;
$scrol-font-size: 20px;
